<!--img src="https://us.battle.net/forums/static/images/game-logos/game-logo-wow.png"-->
<h1>Testing BNet API</h1>
</br>

<p>Session - user info: <%= session[:userinfo].inspect %></p>

</br>
<a href="/auth/bnet">Login</a>